body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  text-align: center;
  font-size: 1.1em;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* important to use important on every key */

.styledDate {
}
