body {
  margin: 0;
  /* font-family: 'Pathway Gothic One', sans-serif; */
  font-family: 'BenchNine', sans-serif;
  /* font-family: 'Carrois Gothic', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0d8dd;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
