body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-feature-settings: "lnum";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  font-size: 1.1em;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.react-calendar,
.react-calendar button {
  font-family: inherit;
}

/* Burger menu styling*/

/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 1.4em;
  top: 1.7em;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/*Sidebar wrapper styles*/

.bm-menu-wrap {
  position: fixed;
  height: 100vh;
}

/* General sidebar styles */

.bm-cross-button {
  top: -23px !important;
  width: 32px !important;
  height: 30px !important;
  right: 1.6em !important;
}

.bm-menu {
  background: white;
  padding: 4em 1.5em 0;
  font-size: 1.15em;
  position: absolute;
  width: 100%;
  bottom: 80px;
}

/* Wrapper for item list */

.bm-item-list {
  color: black;
  max-width: 10em;
  margin: 3rem auto;
}

/* Individual item */

.bm-item {
  display: inline-block;
  padding: 0.5em;
  border-bottom: 1px solid gray;
}

/* Styling of overlay */

.bm-overlay {
  display: none;
}
